@charset "utf-8";

* {
    font-family: "맑은고딕";
    font-size: 17px;
}

h1 { 
    font-family: "궁서";
    font-size: 30px;
    letter-spacing: 15px;
}

h2 {font-size: 25px;}

h3 {font-size: 20px;}

.ita {font-style: italic;}

.bold {font-weight: bold;}

.blue {color: #0000ff;}

.red {color: red;}

.und {text-decoration: underline;}

.gr {color: #0f0;}

.backgray {background-color: #d9d9d9;}

.ind{text-indent: 30px;}

ul>li {list-style-type: square;}

ol>li {list-style-type: none;}

thead {background-color: #c8ebfa;}

tbody tr:hover {background-color: #edd3ed;}

.right {text-align: right;}

.bf::before {content: "약 ";}
.af::after {content: " (MB/초)";}

td a:link {color: #000000; text-decoration: none;}
td a:visited {color: #000000;}
td a:hover {color: #0000ff; text-decoration: underline;}
td a:active {color: 0000ff; text-decoration: underline;}

