<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Mysite0</title>

        <link rel="stylesheet" href="../../assets/css/main.css">

    </head>

    <body>
        <div id="wrap">

            <!-- 헤더 -->
            <div id="header" class="clearfix">
                <!-- 사이트로고 -->
                <h1><a href="../main/main.html">mysite</a></h1>
                <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="../user/member.html">회원가입</a></li>
                </ul>
            </div>
            <!-- //헤더 끝 -->


            <!-- 네비게이션 -->
            <div id="nav" class="clearfix">
                <ul>
                    <li><a href="application.html">입사지원서</a></li>
                    <li><a href="list.html">게시판</a></li>
                    <li>갤러리</li>
                    <li class="list">방명록</li>
                </ul>
            </div>
            <!-- //네비게이션 끝 -->

            <!-- 콘텐츠 -->
            <div id="content" class="clearfix">

                <!-- 왼쪽메뉴 -->
                <div id="aside">
                    <h2>
                        게시판
                    </h2>

                    <ul>
                        <li>일반 게시판</li>
                        <li>댓글 게시판</li>
                        <li>첨부 게시판</li>
                    </ul>
                </div>
            <!-- 메인영역 -->
                <div id="main" class="clearfix">
                    <div id="main-head" class="clearfix">
                    <h3>일반게시판</h3>
                        
                    <ul>
                        <li>홈</li>
                        <li>게시판</li>
                        <li class="last">일반게시판</li>
                    </ul>
                    </div>


                    <div id="main-body">
                        <div id="board">
                                <div id="search-area" class="clearfix">
                                <form action="#" method="get">
                                    <input type="text" name="keywrod" value="">
                                    <button type="submit">검색</button>

                                </form>
                            </div>


                            <!-- 게시판 리스트 -->
                            <div id="table">
                                <table>
                                    <thead>
                                        <tr>
                                            <td>번호</td>
                                            <td>제목</td>
                                            <td>글쓴이</td>
                                            <td>조회수</td>
                                            <td>작성일</td>
                                            <td></td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>aaa</td>
                                            <td>bbb</td>
                                            <td>ccc</td>
                                            <td>ddd</td>
                                            <td>eee</td>
                                            <td>[삭제]</td>
                                        </tr>

                                        <tr>
                                            <td>aaa</td>
                                            <td>bbb</td>
                                            <td>ccc</td>
                                            <td>ddd</td>
                                            <td>eee</td>
                                            <td>[삭제]</td>
                                        </tr>

                                        <tr>
                                            <td>aaa</td>
                                            <td>bbb</td>
                                            <td>ccc</td>
                                            <td>ddd</td>
                                            <td>eee</td>
                                            <td>[삭제]</td>
                                        </tr>

                                        <tr>
                                            <td>aaa</td>
                                            <td>bbb</td>
                                            <td>ccc</td>
                                            <td>ddd</td>
                                            <td>eee</td>
                                            <td>[삭제]</td>
                                        </tr>

                                        <tr id="board-rr">
                                            <td>aaa</td>
                                            <td>bbb</td>
                                            <td>ccc</td>
                                            <td>ddd</td>
                                            <td>eee</td>
                                            <td>[삭제]</td>
                                        </tr>
                                    </tbody>

                                </table>
                            
                                    <!-- //게시판 리스트 -->


                                    <!-- 페이징 -->
                                    <div id="pager" class="clearfix">
                                        <ol>
                                            <li><a herf="">◀</a></li>
                                            <li><a herf="">1</a></li>
                                            <li><a herf="">2</a></li>
                                            <li><a herf="">3</a></li>
                                            <li><a herf="">4</a></li>
                                            <li><a herf="">5</a></li>
                                            <li><a class="active" herf="">6</a></li>
                                            <li><a herf="">7</a></li>
                                            <li><a herf="">8</a></li>
                                            <li><a herf="">9</a></li>
                                            <li><a herf="">10</a></li>
                                            <li><a herf="">▶</a></li>
                                        </ol>

                                        <a id="btn-write" href="">글쓰기</a>
                                    </div>
                                    <!-- //페이징 -->



                            </div>

                        </div> 





                    </div>






                </div>

            </div>
            <!-- 콘텐츠 -->











            <!-- 푸터 -->
            <div id="footer">
                <p>Copyright ©2021 박수현. AII right reserved</p>
                
            </div>
            <!-- 푸터 -->
        </div>
    </body>
</html>